
@font-face {
    font-family: Montserrat Alternates;
    src: url(fonts/MontserratAlternates-Regular.ttf);
    font-weight: 400
}

@font-face {
    font-family: Montserrat Alternates;
    src: url(fonts/MontserratAlternates-Medium.ttf);
    font-weight: 500
}

@font-face {
    font-family: Montserrat Alternates;
    src: url(fonts/MontserratAlternates-SemiBold.ttf);
    font-weight: 600
}

@font-face {
    font-family: Montserrat Alternates;
    src: url(fonts/MontserratAlternates-Bold.ttf);
    font-weight: 700
}

img {
    width: 350px;
}


body {
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: #221F1F;
    color: white;
}
.container {
    width: 90%;
    padding: 20px 0;
    margin: auto;
    text-align: center;
}

.guide {
    text-align: left;
}
li {
    line-height: 25px;
}
#host {
    font-weight: 500;
    text-decoration: underline;
}
